.loading-wrapper {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -10;
  display: flex;
  align-items: center;
}

.loading-text {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #3e9acb;
  font-size: 36px;
  text-align: center;
  width: 100%;
}

.contact-buttons {
  position: fixed;
  z-index: 10;
  display: flex;
  justify-content: space-evenly;
}

.play-video-button-wrapper {
  position: fixed;
  z-index: 10;
  display: flex;
  justify-content: space-around;

  top: 40px;
  left: 0;
  right: 0;
}

.play-video-button {
  background-color: rgba(24, 17, 37, 0.7);
  padding: 3px;
  border-radius: 9999px;
}

.play-video-button-border {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #3e9acb;

  background-color: rgba(24, 17, 37, 0.6);
  font-size: 32px;
  border-radius: 9999px;

  vertical-align: middle;

  border-color: #3e9acb;
  border-width: 2px;
  border-style: solid;
  box-sizing: border-box;

  padding: 4px 16px;

  display: flex;
  align-items: center;
}

@media (orientation: portrait) {
  .loading-wrapper {
    background: radial-gradient(
      179.89% 179.89% at 54.62% 163.06%,
      #3e9acb 0%,
      #000000 100%
    );
  }

  .contact-buttons {
    top: auto;
    right: 0;
    bottom: 32px;
    left: 0;
  }
}

@media (orientation: landscape) {
  .loading-wrapper {
    background: radial-gradient(
      185.36% 586.37% at 156.09% 52.43%,
      #3e9acb 0%,
      #000000 100%
    );
  }

  .contact-buttons {
    top: 0;
    right: 32px;
    bottom: 0;
    left: auto;
    flex-direction: column-reverse;
  }
}
